<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8" />
		<title>Lista de Lembretes</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
		<style>
			body {
				background-image: url("resources/images/background.jpeg");
				width:100%;
				height=:100%;
			}
		</style>
	</head>
	<body>
		<form>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="/" fixed="top">Cadastro de Lembretes</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    	<ul class="navbar-nav mr-auto">
				      		<li class="nav-item active">
				        		<a class="nav-link" href="/">Cadastrar<span class="sr-only">(current)</span></a>
				      		</li>
				      		<li class="nav-item">
				        		<a class="nav-link" href="/lembretes">Visualizar Lembretes</a>
				      		</li>
				    	</ul>
				   	</div>
			</nav>
		</form>
	
		<div class="container" style="padding: 60px">
			<div class="jumbotron" align="center">
				<div id="listaDeLembretes">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Título</th>
								<th>Descrição</th>
								<th>Data</th>
							</tr>
						</thead>
						<tr th:each="lembrete : ${listaDeLembretes}">
							<td><span th:text="${lembrete.titulo}"></span></td>
							<td><span th:text="${lembrete.descricao}"></span></td>
							<td><span th:text="${lembrete.formatDate()}"></span></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	<script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>